.buttonGroupContainer {
  display: flex;
  overflow-x: auto;
  justify-content: space-between;
}

.buttonGroup {
  display: flex;
  flex-wrap: nowrap;
}

.buttonGroupLeft,
.buttonGroupRight {
  display: flex;
  align-items: center;
  width: 100%;
}

.buttonGroupRight {
  justify-content: flex-end;
}

.buttonContainer {

}